<label class="intro-text">
  Feel the rush of the wind, hear the roar of the engines, and push your skills
  to the limit in this fast-paced adventure.
</label>

<form [formGroup]="userForm" (submit)="submit()" class="login-form">
  @if(!name.touched && name.invalid){
  <label>Enter Player Name</label>
  } @if(name.touched && name.invalid){
  <label class="error-message">Name must be at least 3 characters long</label>
  } @if(name.valid){
  <label class="success-message">✅</label>
  }

  <br />
  <input type="text" placeholder="Name" formControlName="name" />

  <br />

  @if(!studentId.touched && studentId.invalid){
  <label>Enter Student ID</label>
  } @if(studentId.touched && studentId.invalid){
  <label class="error-message">Only numbers</label>
  } @if(studentId.valid === true){
  <label class="success-message">✅</label>
  }

  <br />

  <input
    type="text"
    placeholder="Student ID"
    formControlName="studentId"
  /><br /><br />

  <button [disabled]="userForm.valid === false" class="submit-button">
    Play
  </button>
</form>
