<!-- <app-intro-text [player]="player"></app-intro-text> -->

<div class="score-list-container">
  <div class="score-list-container-title">Best high scores</div>
  <table class="score-list">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>
          Score

          <button (click)="handleSortDirectionClick('asc')">
            ▲ Asc{{ " " }}
          </button>
          <button (click)="handleSortDirectionClick('desc')">▼ Desc</button>
        </th>
        <!-- <th>Game Date:</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- @for(record of score$ | async | bestScore:sortDirection | slice:0:10 ;
      track record){ -->

      @if(score$ | async; as scores){ @for(record of scores |
      bestScore:sortDirection | slice:0:10 ; track record){
      <!-- <div *ngIf="!record">Loading scores...</div> -->
      <tr>
        <!-- <td>{{ user.id }}</td> -->
        <td>{{ record.name }}</td>
        <td>{{ record.score }}</td>
        <!-- <th>
          {{
            user.lastGameHistory[user.lastGameHistory.length - 1].date
              | date : "short"
          }}
        </th> -->
      </tr>
      } }
    </tbody>
  </table>
</div>
