app-person-form {
    background-color: lightslategray;
   // display: flex;
   display: grid;
    width: 300px;
    height: 300px;
   // justify-content: center;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 20px gray;
}

.main-text {
font-family: cursive;
font-size: xxx-large;

}

.play-button {
    margin-top: 30px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(45deg, #4CAF50, #45a049); /* Gradient tła */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease; /* Efekty płynnych przejść */
    box-shadow: 0 0 2px 7px rgba(0, 0, 0, 0.1); /* Cień */
  }
  
  .play-button:hover {
    background: linear-gradient(45deg, #45a049, #4CAF50);
    transform: scale(1.05); /* Powiększenie po najechaniu myszką */
    box-shadow: 0 2px 20px rgba(116, 241, 14, 0.99); /* Zwiększenie cienia */
  }