<p class="main-text">Welcome in GG Race Game!</p>

@if(showScore){
    <app-score></app-score>
    <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button>
}

@if(!showScore){
    <app-person-form (isFormValid)="validationResult($event)" ></app-person-form>
    <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button>
    <button [disabled]="!isFormValid" class="play-button" (click)="startGame()">Play</button>
}

<!-- <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button> -->



