@if(!showScore){

<app-intro-text [player]="player"></app-intro-text>

@if(player){
<div class="person-form-loggedin">
  <p class="good-luck">Good luck, and have fun!</p>
  <p>
    <img src="../../assets/bg/f1.png" width="250px" height="160px" />
  </p>
</div>

<button class="play-button" (click)="logout()">Log out</button>
} @if (!player){
<app-person-form (currentPlayer)="setCurrentPlayer($event)"></app-person-form>

}
<div class="play-button">
  Colors
  <select [(ngModel)]="selectedColor">
    <option selected value="normal">normal</option>
    <option value="high contrast">high contrast</option>
  </select>
</div>

<br />

<button
  [disabled]="player === undefined"
  class="play-button"
  (click)="startGame()"
>
  Play!
</button>
<br />

} @if(showScore){
<app-score [score$]="score$"></app-score>

}
<button class="play-button" (click)="toggleScore()">
  {{ scoreButtonText }}
</button>
