.points-section {
    color: #4CAF50;
   // margin: 10px;
    // padding: 10px 20px;

  
    // text-align: center;
    // text-decoration: double;
    // // display: inline-block;
    
    // width: 378px;
    // display: inline-table;
    // align-items: center;


    //width: 378px;
   // margin: auto; /* Ustawia marginesy na "auto" w poziomie, co sprawi, że div będzie wyśrodkowany */
   // text-align: center; /* Wyśrodkuje tekst wewnątrz diva */
   // padding: 10px; /* Dodaje odstępy wokół tekstu */


    font-size: 24px;
    display: flex;
    justify-content: space-between; /* Ustawia odstępy między elementami, pierwszy na lewej, drugi na prawej */
    width: 378px;
    margin: auto;
    text-align: center;
    padding: 10px;
   
    .points, .time {
        flex: 1; /* Rozciąga elementy, aby pierwszy był po lewej, a drugi po prawej */
        //width: 180px;
    }
    
} 
