.points-section {
    color: #4CAF50;
   // margin: 10px;
    // padding: 10px 20px;

  
    // text-align: center;
    // text-decoration: double;
    // // display: inline-block;
    
    // width: 378px;
    // display: inline-table;
    // align-items: center;


    //width: 378px;
   // margin: auto; /* Ustawia marginesy na "auto" w poziomie, co sprawi, że div będzie wyśrodkowany */
   // text-align: center; /* Wyśrodkuje tekst wewnątrz diva */
   // padding: 10px; /* Dodaje odstępy wokół tekstu */


    font-size: 24px;
    display: flex;
    justify-content: space-between; /* Ustawia odstępy między elementami, pierwszy na lewej, drugi na prawej */
    width: 378px;
    margin: auto;
    text-align: center;
    padding: 10px;
   
    .points, .time {
        flex: 1; /* Rozciąga elementy, aby pierwszy był po lewej, a drugi po prawej */
        //width: 180px;
    }
    

    
} 








header {
    display: flex;
    align-items: center;
    min-height: 100px;
}

header .navbar-brand {
    position: absolute;
    top: 0;
}

header .navbar-brand img {
    height: 52px;
}

// section#main-body {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-height: 75vh;
// }

.text-violet {
    color: #14121d;
}

.bg-violet {
    background-color: #14121d;
}

.bg-header {
    background-image: url('../../assets/bg/road-forest.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: .8rem;
}

.bg-cover {
    margin: 0 -12px;
    transform: rotate(180deg);
}

.bg-cover svg {
    height: 32px;
    width: 100%;
}









.buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 10px;
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-color: white;
    border-width: 5px;
    border-radius: 5px
}

.button:hover {
    background-color: #45a049;
}
