.game-center {
  display: flex;
  padding-top: 30px;
}
.game-simple {
  padding-top: 30px;
}

.simple-points-time {
  color: #45a049;
  font-family: "Comic Neue", cursive;
  font-size: normal;
}
body {
  margin: 0 auto;
  display: block;
}

.points-section {
  background-color: #bdbdbdbd;
  display: grid;
  width: 280px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  margin: auto;
  font-family: "Comic Neue", cursive;
  font-size: x-large;
}

.logs {
  background-color: #bdbdbdbd;
  width: 320px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  margin: auto;
  font-family: "Comic Neue", cursive;
  font-size: smaller;
  overflow-y: auto; /* Dodaj suwak tylko w pionie, gdy zawartość wychodzi poza obszar */
  text-align: left;
}

app-list {
  background-color: #bdbdbdbd;
  width: 280px;
  height: 320px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px white;
  margin: auto;
  font-family: "Comic Neue", cursive;
  font-size: smaller;
  overflow-y: auto;
  text-align: left;
  font-size: small;
}

header {
  display: flex;
  align-items: center;
  min-height: 100px;
}

header .navbar-brand {
  position: absolute;
  top: 0;
}

header .navbar-brand img {
  height: 52px;
}

.text-violet {
  color: #14121d;
}

.bg-violet {
  background-color: #14121d;
}

.bg-header {
  background-image: url("../../assets/bg/road-forest.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 0.8rem;
}

.bg-cover {
  margin: 0 -12px;
  transform: rotate(180deg);
}

.bg-cover svg {
  height: 32px;
  width: 100%;
}

.buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 10px;
  padding: 8px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-color: white;
  border-width: 5px;
  border-radius: 5px;
}

.button:hover {
  background-color: #45a049;
}
