<router-outlet></router-outlet>

<!-- @if(isGameStarted===true){
   
        @if(showScore){
            <app-score [usersList]="usersList" ></app-score>
            <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button>
        }
        @if(!showScore){
            <app-game [player]="player" (isEndGame)="quitGame($event)"  (displayScoreAfterGame)="displayScoreAfterGame()" ></app-game>
        }
}




@if(isGameStarted===false){

        <p class="main-text"> Hello {{player?.name}}! Welcome in GG Race Game! 
            <img src="../../assets/bg/wheel.gif" width="30px" height="30px" /> </p>


        @if(showScore){
            <app-score [usersList]="usersList" ></app-score>
            <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button>
        }
        @if(!showScore){

            <app-person-form  (currentPlayer)="setCurrentPlayer($event)" [isLoggedIn]="isLoggedIn" ></app-person-form>

            <button  class="play-button" (click)="toggleScore()">{{scoreButtonText}}</button>   <br>

            <button [disabled]="player===undefined" class="play-button" (click)="startGame()">Play!</button> <br>

            @if(isLoggedIn){  
                <button  class="play-button" (click)="logout()">Log out</button>  
            }
        }

} -->
