<div class="logs">
    <p>Game history</p>
    <p>
      Show
      <select  [(ngModel)]="selectedStatus"   >
        <option default value="all">Show All</option>
        @for(status of statusOptions; track status){
          <option [value]="status">{{status}}</option>
        }
      </select>
      <button (click)="handleSortDirectionClick('asc')">▲ Asc</button>
      <button (click)="handleSortDirectionClick('desc')" >▼ Desc</button>
    </p>
    <ul>
        @if(player){
             @for(item of player.lastGameHistory | statusPipe:selectedStatus:sortDirection; track item) {
        <li>{{item.elapsedTime}} - {{ item.gameStatus }} - {{ item.date | date: "short" }}</li>
      }
        }
     
    </ul>
  </div>

