
<!-- <div class="user-form-class"> -->

    <!-- <p>Enter Your name</p><br> -->
    <label> Feel the rush of the wind, hear the roar of the engines, and push your skills to the limit in this fast-paced adventure.</label>
    <br>
    <label>Enter Player Name</label>
<input [(ngModel)]="name" type="text"
       placeholder="Name"
       [disabled]="!editing"
       />
      

<br>
<label>Enter Player E-mail</label>
<input [(ngModel)]="email"
       placeholder="E-mail"
       [disabled]="!editing"
       />
       
<br/>
<button *ngIf="editing" [disabled]="!name || !email"  (click)="submit()"> Submit</button>
<button *ngIf="!editing"  (click)="edit()"> Edit</button>

<!-- </div> -->
