
 <label> Feel the rush of the wind, hear the roar of the engines, and push your skills to the limit in this fast-paced adventure.</label>
  
 @if(isLoggedIn){
   <p class="good-luck"> Good luck, and have fun!</p>   
   <p>
      <img src="../../assets/bg/f1.png" width="250px" height="160px"  />
   </p>
}
@if (!isLoggedIn) {
   @if (!isValidName()) {     <label>Enter Player Name</label>   }
   @if (isValidName())  {     <label>✅</label>   }
   <input [(ngModel)]="name" type="text" placeholder="Name" /><br />
 
   @if (!isValidEmail()) {     <label>Enter Player E-mail</label>   }
   @if (isValidEmail())  {     <label>✅</label>   }
   <input [(ngModel)]="email" placeholder="E-mail" type="email" /><br />
 
   <button [disabled]="!name || !isValidEmail()" class="play-button" (click)="submit()">Log In</button>
 }

