
p.good-luck {
    //color:#4CAF50;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff; /* Set the desired text color */
    background-color: lightslategray;
    // #4CAF50; /* Set the desired background color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
   // box-shadow: 0 0 8px 6px white; /* Cień */
    box-shadow: 0 0 20px ghostwhite
   }

 